<%- include('header'); %>
  <section id="ps4-list-game">
    <div class="row">
      <% for( let index = 0; index < videogameList.length; index++ ) { %>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card videogame-card" >
          <img src= <%= videogameList[index].path %>  class = "card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= videogameList[index].title %> </h5>
            <form action="/gameInfo" method="post">
              <button name="gameId" value = <%= videogameList[index]._id %> class="btn btn-primary" type="submit">More Info</button>
            </form>
          </div> 
        </div>
      </div>
      <% } %>
    </div>
  </section>
    
<%- include('footer'); %>