<%- include('header'); %>
<section id="user-settings">
    <h1>General Information </h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value= <%= userLogged.name%> disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" value= <%= userLogged.lastName%> disabled>
            </div>
            <div class="form-group col-md-8">
                <label for="username">Email</label>
                <input type="text" class="form-control" id="username" value= <%= userLogged.username%> disabled>
            </div>
            
        </div>
        <a class="btn btn-danger" href="/deleteAccount">Delete Account</a>
        <a class="btn btn-info" href="/updateUserInfo">Change my password</a>
    </form>
</section>
<%- include('footer'); %>